LinkedIn Daily Post/LinkedIn_Daily_Post_v1
{
  "nodes": [
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "gpt-4o-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        128,
        512
      ],
      "id": "27dc0c14-25ba-4aab-a3b3-f306c7b67c36",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "geJX9MSdEfCkNO1a",
          "name": "Axia OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Get all incoming items\nconst items = $input.all();\n\n// Extract the text field from each item\nconst texts = items.map(item => item.json.idea);\n\n// Concatenate them (adjust the separator as needed)\nconst concatenated = texts.join(\", \");\n\n// Return a single item with the concatenated text\nreturn [{ json: { mergedText: concatenated } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -752,
        320
      ],
      "id": "22670256-264a-414c-83ef-a06d3acfa1c2",
      "name": "Join Ideas1"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1qrUfCyVIsVsgrO06ubrKm611asVSi9BRFuS1Gtri-z4",
          "mode": "list",
          "cachedResultName": "LinkedIn Daily Post",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1qrUfCyVIsVsgrO06ubrKm611asVSi9BRFuS1Gtri-z4/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Post Idea",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1qrUfCyVIsVsgrO06ubrKm611asVSi9BRFuS1Gtri-z4/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -928,
        320
      ],
      "id": "2409e734-fe81-4b7e-9860-8d703b0e092f",
      "name": "Get Past Ideas1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "lpCcfyIcN44VbKwn",
          "name": "Omkar's Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1qrUfCyVIsVsgrO06ubrKm611asVSi9BRFuS1Gtri-z4",
          "mode": "list",
          "cachedResultName": "LinkedIn Daily Post",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1qrUfCyVIsVsgrO06ubrKm611asVSi9BRFuS1Gtri-z4/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Post Idea",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1qrUfCyVIsVsgrO06ubrKm611asVSi9BRFuS1Gtri-z4/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Id": "={{ $json.Id }}",
            "Idea": "={{ $json.Idea }}",
            "Source Headline": "={{ $json[\"Source Headline\"] }}",
            "Source URL": "={{ $json[\"Source URL\"] }}"
          },
          "matchingColumns": [
            "Id"
          ],
          "schema": [
            {
              "id": "Id",
              "displayName": "Id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Source Headline",
              "displayName": "Source Headline",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Idea",
              "displayName": "Idea",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Source URL",
              "displayName": "Source URL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Post Description ",
              "displayName": "Post Description ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Generated",
              "displayName": "Generated",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -256,
        320
      ],
      "id": "3bc9b484-0b35-478d-bc98-9e67eaec0386",
      "name": "Update Ideas in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "lpCcfyIcN44VbKwn",
          "name": "Omkar's Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1qrUfCyVIsVsgrO06ubrKm611asVSi9BRFuS1Gtri-z4",
          "mode": "list",
          "cachedResultName": "LinkedIn Daily Post",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1qrUfCyVIsVsgrO06ubrKm611asVSi9BRFuS1Gtri-z4/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Post Idea",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1qrUfCyVIsVsgrO06ubrKm611asVSi9BRFuS1Gtri-z4/edit#gid=0"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "Generated"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -80,
        320
      ],
      "id": "3383f856-c739-4d5f-b9ae-54762fc6d765",
      "name": "Get Ideas for post",
      "executeOnce": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "lpCcfyIcN44VbKwn",
          "name": "Omkar's Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Generate LinkedIn posts from these approved ideas:\n\n{{ JSON.stringify($json, null, 2) }}\n\nREQUIREMENTS:\n1. Visit each Source URL and extract verifiable facts\n2. Post Description: 150-250 words, short lines for readability\n3. Structure: Hook + 2-3 key insights + professional application + 1 question\n4. Plain text only - NO formatting characters\n5. Image prompt: professional, matches article theme, DALL-E ready\n6. Return ONLY the exact JSON schema from system instructions\n",
        "options": {
          "systemMessage": "=You are a LinkedIn ghostwriter for AI automation professionals. Your job is to create publication-ready posts from verified source articles.\n\nINPUT FORMAT:\nYou receive rows with:\n- Id: unique identifier (LI-YYYYMMDD-###)\n- Source Headline: original article title  \n- Idea: content angle/summary\n- Source URL: link to verify facts\n- Post Description: empty (you generate)\n- Generated: empty\n\nMANDATORY RULES:\n1. VISIT each Source URL and verify ALL facts before writing\n2. Post Description MUST be 150-250 words, plain text only\n3. NO markdown characters: ** * _ ` [] or bullet symbols •\n4. Use numbered lists: \"1), 2), 3)\" instead of bullets\n5. Every claim MUST be directly supported by source content\n6. Hook → 2-3 verified insights → professional context → ONE question CTA\n7. Professional tone for product managers, engineers, founders\n\nCRITICAL: ZERO hallucinations. If URL inaccessible, write \"Unable to verify source content\" and skip generation.\n\nOUTPUT ONLY valid JSON:\n{\n  \"outputs\": [\n    {\n      \"Id\": \"LI-...\",\n      \"Source Headline\": \"...\", \n      \"Idea\": \"...\",\n      \"Source URL\": \"...\",\n      \"Post Description\": \"150-250 words ready to copy-paste\",\n      \"Generated\": \"Yes\"\n    }\n  ]\n}\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        160,
        320
      ],
      "id": "fc04d47e-f007-43df-b242-886911ef9229",
      "name": "Rewrite the Post content",
      "executeOnce": false
    },
    {
      "parameters": {
        "jsCode": "// n8n Code node (Run Once for All Items)\n\nconst items = $input.all();\n\n// Perplexity node returns an array with one item\nconst first = items[0]?.json;\nif (!first) {\n  throw new Error('No input received from Perplexity node.');\n}\n\n// The model output JSON is inside: choices[0].message.content (as a string)\nconst content = first?.choices?.[0]?.message?.content;\nif (!content) {\n  throw new Error('Missing choices[0].message.content in Perplexity response.');\n}\n\nlet parsed;\ntry {\n  parsed = typeof content === 'string' ? JSON.parse(content) : content;\n} catch (e) {\n  throw new Error(\n    `Failed to JSON.parse(message.content). First 200 chars: ${String(content).slice(0, 200)}`\n  );\n}\n\n// Expecting: { \"rows\": [ { ... }, { ... }, ... ] }\nconst rows = parsed?.rows;\nif (!Array.isArray(rows)) {\n  throw new Error('Parsed content does not contain \"rows\" array.');\n}\n\n// Map each row to one n8n item.\n// Adjust these keys to match your Google Sheet / DB column names.\nreturn rows.map((r) => ({\n  json: {\n    Id: r.Id ?? '',\n    'Source Headline': r['Source Headline'] ?? '',\n    Idea: r.Idea ?? '',\n    'Source URL': r['Source URL'] ?? '',\n    'Post Content': r['Post Content'] ?? '',\n    Generated: r.Generated ?? '',\n\n    // Optional debug fields (keep if helpful)\n    perplexity_request_id: first.id,\n    perplexity_model: first.model,\n  },\n}));\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -432,
        320
      ],
      "id": "50f137c3-186a-4b28-b6ff-83e9431ba044",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1qrUfCyVIsVsgrO06ubrKm611asVSi9BRFuS1Gtri-z4",
          "mode": "list",
          "cachedResultName": "LinkedIn Daily Post",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1qrUfCyVIsVsgrO06ubrKm611asVSi9BRFuS1Gtri-z4/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Post Idea",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1qrUfCyVIsVsgrO06ubrKm611asVSi9BRFuS1Gtri-z4/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Id": "={{ $json.Id }}",
            "Post Description ": "={{ $json[\"Post Description\"] }}",
            "Generated": "={{ $json.Generated }}"
          },
          "matchingColumns": [
            "Id"
          ],
          "schema": [
            {
              "id": "Id",
              "displayName": "Id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Source Headline",
              "displayName": "Source Headline",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Idea",
              "displayName": "Idea",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Source URL",
              "displayName": "Source URL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Post Description ",
              "displayName": "Post Description ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Generated",
              "displayName": "Generated",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        704,
        320
      ],
      "id": "27901bf7-7483-4de3-8308-9fdf575f27d0",
      "name": "Append or update row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "lpCcfyIcN44VbKwn",
          "name": "Omkar's Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// n8n Code node (Run Once for All Items)\n\nconst items = $input.all();\n\nconst out = [];\n\nfor (const item of items) {\n  const raw = item.json?.output;\n\n  if (!raw) {\n    // Skip empty items (or throw if you prefer strict behavior)\n    continue;\n  }\n\n  let parsed;\n  try {\n    parsed = typeof raw === 'string' ? JSON.parse(raw) : raw;\n  } catch (e) {\n    throw new Error(`Failed to JSON.parse(item.json.output). First 200 chars: ${String(raw).slice(0, 200)}`);\n  }\n\n  const arr = parsed?.outputs;\n  if (!Array.isArray(arr) || arr.length === 0) {\n    throw new Error('Parsed output does not contain a non-empty \"outputs\" array.');\n  }\n\n  // Your agent returns one object inside outputs[0]\n  const r = arr[0] ?? {};\n\n  out.push({\n    json: {\n      Id: r.Id ?? '',\n      'Source Headline': r['Source Headline'] ?? '',\n      Idea: r.Idea ?? '',\n      'Source URL': r['Source URL'] ?? '',\n      'Post Description': r['Post Description'] ?? '',\n      Generated: 'Yes', // force Yes\n    },\n  });\n}\n\nreturn out;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        480,
        320
      ],
      "id": "dc50b835-e79b-4305-97aa-bf90a8725d1f",
      "name": "Code in JavaScript2"
    },
    {
      "parameters": {
        "messages": {
          "message": [
            {
              "content": "=You are a LinkedIn content strategist and AI automation engineer writing daily, high-signal posts in a crisp, analytical, practitioner style (short, scannable, concrete takeaways).\n\nTASK:\nGenerate 12 NEW LinkedIn post IDEAS based on AI/tech news found via web search.\n\nSTRICT NEWS + URL RULES (must follow):\n\nUse ONLY news from the past 24 hours (the system will enforce recency; still verify it is recent).\n\nEach idea MUST be tied to EXACTLY ONE source article URL.\n\nUse ONLY direct article URLs from reputable sources or official company posts/press releases/docs.\n\nDO NOT use aggregators or community sites: no Techmeme, Hacker News, Reddit, X/Twitter, LinkedIn posts, newsletters, Substack recap pages, or search result pages.\n\nDO NOT use homepages; URLs must be specific article pages.\n\nDO NOT guess or fabricate URLs. If an exact URL cannot be verified, skip that story.\n\nZERO-REPEAT RULES (must follow):\n\nYou will be given a list of previously used source URLs.\n\nYou MUST NOT use any of those URLs again.\n\nYou MUST output 12 rows with 12 unique Source URLs (no duplicates within the output).\n\nYou MUST ensure the 12 ideas are not duplicates of each other (different story + different angle).\n\nTOPIC FOCUS (choose only high-signal items):\n\nAI models, LLM releases, evals, inference, AI agents, copilots\n\nDeveloper tools, automation, integrations, n8n/workflow patterns (news-driven angle)\n\nCloud (AWS/Azure/GCP), GPUs/semis, enterprise software, cybersecurity, regulation\n\nPrefer “what changed + what to do about it” angles.\n\nOUTPUT FORMAT (hard requirement):\nReturn VALID JSON ONLY (no markdown, no commentary) with this exact shape:\n{\n\"rows\": [\n{\n\"Id\": \"LI-YYYYMMDD-001\",\n\"Source Headline\": \"...\",\n\"Idea\": \"...\",\n\"Source URL\": \"...\",\n\"Post Content\": \"\",\n\"Generated\": \"\"\n}\n]\n}\n\nFIELD RULES:\n\nId must use TODAY’s date in YYYYMMDD and be numbered 001–012.\n\nSource Headline: the article’s headline (or very close to it).\n\nSource URL: exact direct URL.\n\nIdea: 1–3 sentences describing what the post is about + the concrete reader value (e.g., “how it changes reliability/cost/architecture/decision-making”), and include who it’s for (founders, automation engineers, RevOps, PMs, etc.).\n\nPost Content must be an empty string \"\".\n\nGenerated must be an empty string \"\".\n\nQUALITY BAR:\nKeep ideas practical and actionable (avoid vague “thought leadership”). Prefer frameworks, checklists, “how to respond”, “what to monitor”, “what to automate”, “what breaks”, “cost/risk implications”.",
              "role": "system"
            },
            {
              "content": "=Generate 12 new LinkedIn post ideas based on AI & technology news from the past 24 hours.\n\nPreviously used source URLs (STRICTLY FORBIDDEN — do not reuse any of these):\n{{ $json.mergedText }}\n\nAdditional constraints:\n\n12 ideas must map to 12 different Source URLs.\n\nIf you cannot find 12 compliant stories with valid direct URLs, keep searching until you do. Do not output fewer than 12.\n\nWriting style: crisp, practical, engineering/operator tone. Avoid fluff.\n\nUse today’s date for IDs: LI-{{ $now.format(\"yyyyMMdd\") }}-001 through LI-{{ $now.format(\"yyyyMMdd\") }}-012\n\nReturn JSON only in the required schema.\n\nImportant n8n wiring note (so “no URL repeats” actually works)\nTo enforce “avoid any idea from the same URL again”, your sheet needs to store Source URL from previous runs, and you should merge them into mergedUsedUrls (similar to how you merge past ideas today). Then feed that list into the user prompt as shown."
            }
          ]
        },
        "options": {
          "temperature": 0.2,
          "topP": 0.1,
          "searchRecency": "day"
        },
        "requestOptions": {}
      },
      "type": "n8n-nodes-base.perplexity",
      "typeVersion": 1,
      "position": [
        -592,
        320
      ],
      "id": "670e6718-d0e6-4b05-bb5a-83ec9e6f58a0",
      "name": "Message a model1",
      "credentials": {
        "perplexityApi": {
          "id": "m8wbCUvKRtQpWaWg",
          "name": "Omkar's Perplexity account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -1136,
        320
      ],
      "id": "a231803a-3cc9-425e-ad64-e2ae37c9986e",
      "name": "When clicking ‘Execute workflow’"
    }
  ],
  "connections": {
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Rewrite the Post content",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Join Ideas1": {
      "main": [
        [
          {
            "node": "Message a model1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Past Ideas1": {
      "main": [
        [
          {
            "node": "Join Ideas1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Ideas in sheet": {
      "main": [
        [
          {
            "node": "Get Ideas for post",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Ideas for post": {
      "main": [
        [
          {
            "node": "Rewrite the Post content",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Rewrite the Post content": {
      "main": [
        [
          {
            "node": "Code in JavaScript2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Update Ideas in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript2": {
      "main": [
        [
          {
            "node": "Append or update row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model1": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Get Past Ideas1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "b043b0ab5ae7b34eed53b71d624d80c591fc6f14e364a5462d764ddd2b09fab5"
  }
}
