LinkedIn Post Automation/LinkedIn Post Automation workflow_v1
{
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        32,
        0
      ],
      "id": "86d4ffb5-8128-4684-96d3-9e86884ac9d3",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "gpt-4o-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        1376,
        208
      ],
      "id": "5cfa501d-b6dc-47a3-805c-deb9008d7cf0",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "geJX9MSdEfCkNO1a",
          "name": "Axia OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "=omkar.lokhande@ax-ia.ai",
        "subject": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Subject', ``, 'string') }}",
        "message": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Message', ``, 'string') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.2,
      "position": [
        1632,
        208
      ],
      "id": "406c6b4b-32bd-48d0-b435-18de06d9708f",
      "name": "Send a message in Gmail",
      "webhookId": "189de8f7-dd4d-4822-86d6-cceea38a0687",
      "credentials": {
        "gmailOAuth2": {
          "id": "24j5kWL6tggKrP9Q",
          "name": "Omkar's Gmail account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Get all incoming items\nconst items = $input.all();\n\n// Extract the text field from each item\nconst texts = items.map(item => item.json.idea);\n\n// Concatenate them (adjust the separator as needed)\nconst concatenated = texts.join(\", \");\n\n// Return a single item with the concatenated text\nreturn [{ json: { mergedText: concatenated } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        336,
        0
      ],
      "id": "8cfeab20-2024-414e-bcf6-997439b2fbe1",
      "name": "Join Ideas1"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1wh7ZkAl3LE1EElKuJ9okw_QJNipeoN6clbXVgk0p7z4",
          "mode": "list",
          "cachedResultName": "LinkedIn Post Automation",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1wh7ZkAl3LE1EElKuJ9okw_QJNipeoN6clbXVgk0p7z4/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Post Ideas",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1wh7ZkAl3LE1EElKuJ9okw_QJNipeoN6clbXVgk0p7z4/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        192,
        0
      ],
      "id": "fc6fe8a2-1b27-4af1-8fb5-333bbc273576",
      "name": "Get Past Ideas1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "lpCcfyIcN44VbKwn",
          "name": "Omkar's Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "messages": {
          "message": [
            {
              "content": "=You are a LinkedIn content strategist for an AI automation/engineering company.\nGoal: generate NEW LinkedIn post ideas that are not duplicates of the provided past ideas.\n\nHard rules:\n\nOutput MUST be valid JSON only (no markdown, no backticks, no commentary).\n\nDo NOT reuse or closely paraphrase any past idea. Avoid same angle + same examples.\n\nKeep ideas concrete: include a clear outcome, audience, and why it’s valuable.\n\nAssume we will store your output into Google Sheets with columns:\nId, Idea, Theme, Post Style, Audience, Generate, Content Description, Image Generation Prompt, Status, Email status\n\nSet \"Generate\" to \"No\" for all new rows (human will approve later).\n\nCreate 6 ideas.\n\nQuality rules:\n\nUse Hook → Value → CTA structure in Content Description (LinkedIn style).\n\nPrefer practical automation topics (n8n, AI agents, LLM ops, integrations, reliability, cost, evals).\n\nPost Style should be one of: \"How-to\", \"Checklist\", \"Story\", \"Mistakes\", \"Framework\", \"Case study\".\n\nReturn JSON with this exact shape:\n{\n\"rows\": [\n{\n\"Id\": \"LI-YYYYMMDD-001\",\n\"Idea\": \"...\",\n\"Theme\": \"...\",\n\"Post Style\": \"...\",\n\"Audience\": \"...\",\n\"Generate\": \"No\",\n\"Content Description\": \"...\",\n\"Image Generation Prompt\": \"...\",\n\"Status\": \"Idea Generated\",\n\"Email status\": \"Not Sent\"\n}\n]\n}",
              "role": "system"
            },
            {
              "content": "=Generate 6 NEW LinkedIn post ideas for an AI automation / n8n workflow builder audience.\n\nHere are the ideas we've already used (avoid duplication and close paraphrases):\n{{ $json.mergedText }}\n\nAdditional constraints:\n\nMake each idea specific (include a concrete promise like \"reduce failures\", \"cut costs\", \"ship faster\", etc.).\n\nContent Description must be 120–220 words, short lines, skimmable, with a clear CTA question at the end.\n\nImage Generation Prompt must describe a simple, clean visual that matches the post (diagram/mock UI/flow).\n\nUse today’s date in the Id: LI-20260102-001 … LI-20260102-006\n\nReturn JSON only in the specified schema."
            }
          ]
        },
        "options": {},
        "requestOptions": {}
      },
      "type": "n8n-nodes-base.perplexity",
      "typeVersion": 1,
      "position": [
        528,
        0
      ],
      "id": "ca55b0bb-cf23-4794-b28e-7e5120a526c5",
      "name": "Message a model",
      "credentials": {
        "perplexityApi": {
          "id": "m8wbCUvKRtQpWaWg",
          "name": "Omkar's Perplexity account"
        }
      }
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1wh7ZkAl3LE1EElKuJ9okw_QJNipeoN6clbXVgk0p7z4",
          "mode": "list",
          "cachedResultName": "LinkedIn Post Automation",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1wh7ZkAl3LE1EElKuJ9okw_QJNipeoN6clbXVgk0p7z4/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Post Ideas",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1wh7ZkAl3LE1EElKuJ9okw_QJNipeoN6clbXVgk0p7z4/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Id": "={{ $json.Id }}",
            "Idea": "={{ $json.Idea }}",
            "Theme": "={{ $json.Theme }}",
            "Post Style": "={{ $json[\"Post Style\"] }}",
            "Audience": "={{ $json.Audience }}",
            "Content Description ": "={{ $json[\"Content Description\"] }}",
            "Image Generation Prompt": "={{ $json[\"Image Generation Prompt\"] }}",
            "Generate": "No",
            "Status": "Under review"
          },
          "matchingColumns": [
            "Id"
          ],
          "schema": [
            {
              "id": "Id",
              "displayName": "Id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Idea",
              "displayName": "Idea",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Theme",
              "displayName": "Theme",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Post Style",
              "displayName": "Post Style",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Audience",
              "displayName": "Audience",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Generate",
              "displayName": "Generate",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Content Description ",
              "displayName": "Content Description ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Image Generation Prompt",
              "displayName": "Image Generation Prompt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Generated Image Link",
              "displayName": "Generated Image Link",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Email status",
              "displayName": "Email status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        864,
        0
      ],
      "id": "9ed59651-e07c-4b98-b1fc-01460654b2d1",
      "name": "Update Ideas in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "lpCcfyIcN44VbKwn",
          "name": "Omkar's Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1wh7ZkAl3LE1EElKuJ9okw_QJNipeoN6clbXVgk0p7z4",
          "mode": "list",
          "cachedResultName": "LinkedIn Post Automation",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1wh7ZkAl3LE1EElKuJ9okw_QJNipeoN6clbXVgk0p7z4/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Post Ideas",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1wh7ZkAl3LE1EElKuJ9okw_QJNipeoN6clbXVgk0p7z4/edit#gid=0"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "Generate",
              "lookupValue": "Yes"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1040,
        0
      ],
      "id": "770ba7c2-2eaa-451e-aa78-ba0a2a7199a7",
      "name": "Get Ideas for post",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "lpCcfyIcN44VbKwn",
          "name": "Omkar's Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Approved rows:\n{{ JSON.stringify($json.rows, null, 2) }}\n\nRequirements:\n- Regenerate Content Description + Image Generation Prompt for every row (ignore existing drafts).\n- Content Description must contain NO markdown characters: no **, *, _, or backticks.\n- Email must be HTML with good spacing/padding and clear sections per Id.\n- Send one email only (use Gmail tool) and then output ONLY the final JSON in the required schema.\n",
        "options": {
          "systemMessage": "=You are an expert LinkedIn ghostwriter for an AI automation engineering team.\n\nYou have an email-sending tool (Gmail) connected.\n\nINPUT:\nYou will receive a JSON object with:\n- rows: array of approved ideas. Each row includes:\n  Id, Idea, Theme, PostStyle, Audience, ExistingContentDescription, ExistingImagePrompt\n\nTASKS (do all):\n1) For EACH row, REWRITE from scratch (do NOT reuse existing drafts):\n   - Content Description: 150–250 words, short lines, hook → value → CTA.\n   - CTA must end with exactly one question.\n   - IMPORTANT: Output must be plain text only for the post body:\n     - No markdown formatting characters at all (no **, *, _, backticks).\n     - No bullet symbols like • if possible; prefer \"1), 2), 3)\".\n   - Image Generation Prompt: regenerate/refine (clean, minimal visual).\n\n2) Build ONE combined HTML email for review:\n   - Inline CSS only.\n   - A padded container, headings, separators, and one section per Id.\n   - In the email, render the post draft with <br> line breaks and <ol><li> lists where appropriate.\n   - Avoid markdown characters in the rendered post too (no **/***).\n\n3) Send exactly ONE email using the Gmail tool:\n   - Use $fromAI keys:\n     - Subject\n     - Message   (this must be HTML)\n\n4) After sending the email, output ONLY valid JSON (no markdown, no extra text) with this exact shape:\n{\n  \"Subject\": \"...\",\n  \"Message\": \"...\",\n  \"outputs\": [\n    {\n      \"Id\": \"LI-...\",\n      \"Content Description\": \"...\",\n      \"Image Generation Prompt\": \"...\"\n    }\n  ]\n}\n\nNotes:\n- The JSON must contain the same Subject/Message used for the email.\n- Do NOT include Status or Email status in JSON (those will be handled downstream).\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        1440,
        0
      ],
      "id": "2cf36461-c95f-4128-8a03-aa2194d8775f",
      "name": "Rewrite the Post content",
      "executeOnce": true
    },
    {
      "parameters": {
        "jsCode": "// n8n Code node (Run Once for All Items)\n\nconst items = $input.all();\n\n// Perplexity node in your case returns an array with one item\nconst first = items[0]?.json;\nif (!first) throw new Error('No input received from Perplexity node.');\n\n// The model output JSON is inside: choices[0].message.content (as a string)\nconst content = first?.choices?.[0]?.message?.content;\nif (!content) throw new Error('Missing choices[0].message.content in Perplexity response.');\n\nlet parsed;\ntry {\n  parsed = typeof content === 'string' ? JSON.parse(content) : content;\n} catch (e) {\n  throw new Error(`Failed to JSON.parse(message.content). First 200 chars: ${String(content).slice(0, 200)}`);\n}\n\nconst rows = parsed?.rows;\nif (!Array.isArray(rows)) {\n  throw new Error('Parsed content does not contain \"rows\" array.');\n}\n\n// Return one n8n item per row, with fields matching your sheet columns\nreturn rows.map((r) => ({\n  json: {\n    Id: r.Id ?? '',\n    Idea: r.Idea ?? '',\n    Theme: r.Theme ?? '',\n    'Post Style': r['Post Style'] ?? r.PostStyle ?? '',\n    Audience: r.Audience ?? '',\n    Generate: r.Generate ?? 'No',\n    'Content Description': r['Content Description'] ?? '',\n    'Image Generation Prompt': r['Image Generation Prompt'] ?? '',\n    'Generated Image Link': r['Generated Image Link'] ?? '',\n    Status: r.Status ?? 'Idea Generated',\n    'Email status': r['Email status'] ?? 'Not Sent',\n\n    // Optional debug fields (remove if you don’t want them in downstream nodes)\n    perplexity_request_id: first.id,\n    perplexity_model: first.model\n  }\n}));\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        688,
        0
      ],
      "id": "4e951f3f-be98-4308-82c1-37892ea6a42b",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1wh7ZkAl3LE1EElKuJ9okw_QJNipeoN6clbXVgk0p7z4",
          "mode": "list",
          "cachedResultName": "LinkedIn Post Automation",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1wh7ZkAl3LE1EElKuJ9okw_QJNipeoN6clbXVgk0p7z4/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Post Ideas",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1wh7ZkAl3LE1EElKuJ9okw_QJNipeoN6clbXVgk0p7z4/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Email status": "Send",
            "Status": "Content Under Review",
            "Id": "={{ $json.Id }}",
            "Image Generation Prompt": "={{ $json[\"Image Generation Prompt\"] }}",
            "Content Description": "={{ $json[\"Content Description\"] }}"
          },
          "matchingColumns": [
            "Id"
          ],
          "schema": [
            {
              "id": "Id",
              "displayName": "Id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Idea",
              "displayName": "Idea",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Theme",
              "displayName": "Theme",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Post Style",
              "displayName": "Post Style",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Audience",
              "displayName": "Audience",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Generate",
              "displayName": "Generate",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Content Description",
              "displayName": "Content Description",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Image Generation Prompt",
              "displayName": "Image Generation Prompt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Email status",
              "displayName": "Email status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1984,
        0
      ],
      "id": "158d16b6-73d2-4d91-96e1-7cf398b41b7f",
      "name": "Append or update row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "lpCcfyIcN44VbKwn",
          "name": "Omkar's Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\n\n// Deduplicate by Id (keeps the first occurrence)\nconst seen = new Set();\nconst unique = [];\n\nfor (const item of items) {\n  const id = item.json.Id;\n  if (!id) continue;\n  if (seen.has(id)) continue;\n  seen.add(id);\n  unique.push(item);\n}\n\nconst rows = unique.map(i => ({\n  Id: i.json.Id,\n  Idea: i.json.Idea,\n  Theme: i.json.Theme,\n  PostStyle: i.json['Post Style'],\n  Audience: i.json.Audience,\n  ExistingContentDescription: i.json['Content Description '] ?? '',\n  ExistingImagePrompt: i.json['Image Generation Prompt'] ?? '',\n}));\n\nreturn [{\n  json: {\n    count: rows.length,\n    rows,\n  }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1248,
        0
      ],
      "id": "2994fbd7-2c1c-4613-a8cf-df8f5a1a786a",
      "name": "Code in JavaScript1"
    },
    {
      "parameters": {
        "jsCode": "const item = $input.first().json;\n\n// Depending on n8n version/agent, the final text might be in different places.\n// Try common locations:\nconst possible =\n  item.output ??\n  item.text ??\n  item.response ??\n  item.content ??\n  item?.choices?.[0]?.message?.content;\n\nif (!possible) {\n  throw new Error('Could not find agent final output text to parse.');\n}\n\nlet parsed;\ntry {\n  parsed = typeof possible === 'string' ? JSON.parse(possible) : possible;\n} catch (e) {\n  throw new Error(`Agent output is not valid JSON. First 200 chars: ${String(possible).slice(0,200)}`);\n}\n\nconst outputs = parsed.outputs || [];\nif (!Array.isArray(outputs)) throw new Error('Missing outputs[] array in parsed JSON.');\n\nreturn outputs.map(o => ({\n  json: {\n    Id: o.Id,\n    'Content Description': o['Content Description'],\n    'Image Generation Prompt': o['Image Generation Prompt'],\n    // Optional: also pass Subject/Message if you want\n    Subject: parsed.Subject,\n    Message: parsed.Message,\n  }\n}));\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1760,
        0
      ],
      "id": "90cd6956-0dbc-451c-9069-12ea8954b05a",
      "name": "Code in JavaScript2"
    }
  ],
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Get Past Ideas1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Rewrite the Post content",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Send a message in Gmail": {
      "ai_tool": [
        [
          {
            "node": "Rewrite the Post content",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Join Ideas1": {
      "main": [
        [
          {
            "node": "Message a model",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Past Ideas1": {
      "main": [
        [
          {
            "node": "Join Ideas1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Ideas in sheet": {
      "main": [
        [
          {
            "node": "Get Ideas for post",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Ideas for post": {
      "main": [
        [
          {
            "node": "Code in JavaScript1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Rewrite the Post content": {
      "main": [
        [
          {
            "node": "Code in JavaScript2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Update Ideas in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript1": {
      "main": [
        [
          {
            "node": "Rewrite the Post content",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript2": {
      "main": [
        [
          {
            "node": "Append or update row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "b043b0ab5ae7b34eed53b71d624d80c591fc6f14e364a5462d764ddd2b09fab5"
  }
}
